* {
    margin: 0;
    box-sizing: border-box;
}

div {
    border: 1px solid black;
}

.ui {
    display: grid;
    grid-template-rows: 150px 800px;

}

.top {
    font-size: 60px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    padding-left: 80px;
}

.bottom {
    padding-left: 80px;
    display: grid;
    grid-template-columns: repeat(5, 200px);
}

.top > p {
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: start;
}

#showDialog {
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    background-color: transparent;
}